@font-face {
    font-family: JetBrainsMono;
    src: url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}

:root {
    box-sizing: border-box;
    --dark-gray: #24232C;
    --gray: #817D92;
    --white: #e6e5ea;
    --black: #18171F;
    --light-green: #A4FFAF;
    --redish: #F64A4A;
    --orangish: #FB7C58;
    --yellowish: #F8CD65;
    
    font-family: JetBrainsMono, sans-serif;
    color: var(--white);
    font-size: 16px;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.text-headingL {
    font-size: 32px;
    font-weight: bold;
    line-height: 43px;
}
.text-headingM {
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
}
.text-bodyL {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
}
.text-bodyM {
    font-size: 16px;
    font-weight: bold;
    line-height: auto;
}
.text-center {
    text-align: center;;
}
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: var(--black);
}
main {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 16px;
    width: calc(100% - 32px);
}
h1, h2 {
    font-size: 16px;
    font-weight: bold;
    /* text-align: center; */
}
.generated-card {
    position: relative;
}
#generated {
    background-color: var(--dark-gray);
    width: 100%;
    /* background-image: url('./assets/images/icon-copy.svg');
    background-position: top 22px right 8px;
    background-repeat: no-repeat; */
    line-height: 64px;
    font-size: 24px;
    padding: 0 16px;
}
.generated-card > img {
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 20px;
}
#myform {
    background-color: var(--dark-gray);
    width: 100%;
    display: relative;
}
form > * + * {
    margin-top: 16px;
}
#charlength {
    appearance: none;
    height: 8px;
    background-color: var(--light-green);
}
.range-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
}
.range-card > label {
    padding-right: 8px;
    color: var(--light-green);
}
input[type='range'] {
    width: 90%;
    margin: auto;
}
.option-card {
    padding-left: 16px;
}
.option-card > * + * {
    margin-top: 16px;
}
input[type='checkbox'] {
    width: 16px;
    height: 16px;
}
input[type='checkbox']:checked {
    /* opacity: 0; */
    /* background-image: url('./assets/images/icon-check.svg');
    background-position: top 0 left 0;
    background-repeat: no-repeat; */
    /* visibility: hidden; */
    background-color: var(--light-green);
}
.input-group {
    position: relative;
}
/* .input-group > span {
    position: absolute;
    left: 0px;
    width: 20px;
    height: 20px;
    border: solid 2pt white;
} */
.strength-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 64px;
    width: 90%;
    padding: 16px;
    background-color: var(--black);
    margin-left: auto;
    margin-right: auto;
}
.strength-card > span {
    text-transform: uppercase;
    line-height: 32px;
}
.strength-summary {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 32px;
    gap: 8px;
}
#strength-summary {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 32px;
}
.bars {
    display:inline-block;
    width: 64px;
    font-size: 0;
}
.bar {
    display: inline-block;
    width: 8px;
    height: 32px;
    border: solid 1pt var(--white);
    margin: 0 2px;
}
.bar[data-color='red'] {
    background-color: var(--redish);
    border: none;
}
.bar[data-color='yellow'] {
    background-color: var(--yellowish);
    border: none;
}
.bar[data-color='orange'] {
    background-color: var(--orangish);
    border: none;
}
.bar[data-color='green'] {
    background-color: var(--light-green);
    border: none;
}
#submit {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 16px;
    background-color: var(--light-green);
    width: calc(100% - 32px);
    margin: 16px;
    background-image: url('./assets/images/icon-arrow-right.svg');
    background-position: top 20px right 64px;
    background-repeat: no-repeat;
}

